
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 248, 237);
}

header {
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
}

header h1 {
    margin-left: 16px;
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    font-size: 40px;
}

header ul li {
    display: inline;
    font-family: "Oswald", sans-serif;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 24px;
}

header .container ul {
    margin-top: 8px;
}

header ul li a {
    color: #ecf0f1;
    text-decoration: none;
}

header ul li a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1368px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about .container {
    align-items: flex-start;
}

#about .brands {
    position: relative;
    top: 40px;
}

.brands-list {
    margin-top: 16px;
}

.brands-list img {
    filter: saturate(0.1);
    transition: transform 0.2s;
    height: 36px;
}

.brands-list img:hover {
    filter: none;
    transform: scale(1.2);
}

.brands-list li {
    display: inline;
    margin-right: 12px;
}

section {
    padding: 24px 0;
}

section h2 {
    color: #182c61;
    font-family: "Oswald", sans-serif;
    margin-bottom: 16px;
}

section p {
    font-family: "Kanit", sans-serif;
    font-weight: normal;
    margin-bottom: 8px;
}

.shop-front {
    border: solid 8px #182c61;
    border-radius: 8px;
    margin-right: 32px;
}

#contact .container {
    display: block;
} 

#contact h3 {
    color: #182c61;
    font-family: "Outfit", sans-serif;
}

#contact .container .contact-methods {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

#contact .message form input,
#contact .message form textarea,
#contact .message form button {
    width: 300px;
    display: block;
    margin-bottom: 8px;
    padding: 8px;
    outline-color: rgb(114, 199, 228);
}

#contact .message form button {
    border: solid 2px #182c61;
    border-radius: 6px;
    color: #ecf0f1;
    background-color: #182c61;
    transition: transform 0.2s;
}

#contact .message form button:hover {
    border: solid 2px #8ce0f5;
    background-color: #8ce0f5;
    color: #182c61;
    transform: scale(1.1);
}

textarea {
    height: 150px;
    resize: none;
}

.social-media-list img {
    transition: transform 0.2s;
    height: 36px;
}

.social-media-list img:hover {
    filter: none;
    transform: scale(1.2);
}

.social-media-list {
    margin-top: 10px;
}

.social-media-list li {
    margin-right: 20px;
    display: inline;
}

.location p {
    color: #182c61;
    margin-top: 8px;
    margin-bottom: 8px;
}

.location iframe {
    border: solid 3px #182c61;
    border-radius: 4px;
}

footer {
    background-color: #182c61;
    padding: 8px 0;
    text-align: center;
}

footer h5 {
    font-family: "Oswald", sans-serif;
    color: #ecf0f1;
}

